<h1>Listing todo_groups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_groups.each do |todo_group| %>
      <tr>
        <td><%= todo_group.title %></td>
        <td><%= todo_group.description %></td>
        <td><%= link_to 'Show', todo_group %></td>
        <td><%= link_to 'Edit', edit_todo_group_path(todo_group) %></td>
        <td><%= link_to 'Destroy', todo_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo group', new_todo_group_path %>
