<div class="groups_wrapper">
  <h1>ToDo Groups</h1>
  <% @todo_groups.each do |todo_group| %>
    <%= link_to todo_group do %>
      <div class="task">
        <h2><%= todo_group.title %></h2>
        <p><%= todo_group.description %></p>
        <div class="tasks_size">
          <p><%= pluralize(todo_group.todo_tasks.size, "Task") %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="new_group_link">
    <%= link_to 'New Task Group', new_todo_group_path %>
  </div>

  <div class="created_by">
    Created by <a href="http://melvinhernandez.github.io">MelvinHernandez</a>
  </div>
</div>
